[access]
	inheritFrom = All-Projects
[project]
	description = Automatically exported from code.google.com/p/google-api-dotnet-client.samples
[access "refs/*"]
	owner = group user/Ravindra (ravipatidar54)
[access "refs/for/refs/*"]
	read = group user/Ravindra (ravipatidar54)
	push = group user/Ravindra (ravipatidar54)
	label-Code-Review = -2..+2 group user/Ravindra (ravipatidar54)
	label-Verified = -1..+1 group user/Ravindra (ravipatidar54)
	rebase = group user/Ravindra (ravipatidar54)
	removeReviewer = group user/Ravindra (ravipatidar54)
	submit = group user/Ravindra (ravipatidar54)
[access "refs/heads/*"]
	read = group user/Ravindra (ravipatidar54)
	create = group user/Ravindra (ravipatidar54)
	push = +force group user/Ravindra (ravipatidar54)
	pushMerge = group user/Ravindra (ravipatidar54)
[access "refs/tags/*"]
	push = group user/Ravindra (ravipatidar54)
	push = +force group user/Ravindra (ravipatidar54)
